/* src/components/Hero.css */
.hero-section {
  padding: 4rem 2rem;
  background-color: #0e0e0e;
  color: #fff;
  text-align: center;
  background-image:
    linear-gradient(#111 1px, transparent 1px),
    linear-gradient(to right, #111 1px, transparent 1px);
  background-size: 40px 40px;
  height: 100vh;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .hero-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;  /* Reduced from default space */
    padding: 0 5%;  /* Added some horizontal padding */
    max-width: 1200px;  /* Added max-width for better control */
    margin: 0 auto;  /* Center the content */
    width: 100%;

  }
  .hero-text {
    text-align: center;
    color: #f8f7f7;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero-text p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  
  .hero-buttons .btn {
    margin-right: 10px; /* Adjust the value as needed */
  }

  .hero-socials a{
    margin-right: 10px; /* Adjust the value as needed */
    margin-bottom: 0px;
  }
  
  .hero-socials i {
    /* padding: 12px; */
    font-size: 2rem; /* Adjust the value as needed to make the icons larger */
  }
  .hero-socials {
    display: flex;
    margin-top: 20px;
    justify-content: flex-start; /* Align items to the left */
    margin-left: 150px; /* Add space at the start of the icons */
  }

  .hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #2d2e32;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }