/* src/components/Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #f4f4f4;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 1.5rem;
  }
  
  .nav-links a:hover {
    color: #007BFF;
  }
  